# XDG Base Directory Specification Environment Variables
XDG_CONFIG_HOME={{ xdg_config_home }}
XDG_DATA_HOME={{ xdg_data_home }}
XDG_CACHE_HOME={{ xdg_cache_home }}
XDG_STATE_HOME={{ xdg_state_home }}
XDG_RUNTIME_DIR={{ xdg_runtime_dir }}
